nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}
a{
  text-decoration: none !important;
}
nav ul{
  margin-left: -60px;
  margin-top: 0px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
nav ul li a:hover{
  color: green;
}
.logocompany{
  color: green;
  font-weight: bold;
  font-size: 25px;
}
.form-user{
  display: flex ;
  flex-direction: row ;
  justify-content: center ;

}
.login-form , .signup-form{
  width: 280px;
  margin-left: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
  -webkit-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  -moz-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  box-shadow: 0 0 10px 3px rgb(59, 56, 56); 
}
.post-user{
  width: 90%;
  /* width: 300px; */
  margin:10px;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
  display: flex ;
  flex-direction: row ;
  justify-content: center ;
}
.post-form{
  width: 25%;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
  -webkit-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  -moz-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  box-shadow: 0 0 10px 3px rgb(59, 56, 56); 
}
.dashboard{
  padding: 20px;
}
.TextareaAutosize{
  width: 95%;
}
.post-btn{
  width: 300px;
}

@media only screen and (max-width: 800px) {
  .form-user{
    width: 100%;
    margin: 30px;
  }
  .post-form{
    width: 90%;
  }
  .post-form h1{
    font-size: 20px;
  }
  .TextareaAutosize{
    width: 90%;
    margin-left: 10px;
  }
}

.posts{
  text-align: center;
  margin: 0px 20px;
  padding: 50px
}
.allPosts{
  display: flex;
  flex-direction: row;
  justify-content: center;
}