nav ul li{
  list-style-type: none;
  display: inline-block;
  /* padding: 5px; */
  /* border: 1px solid gray; */
  margin-left: 40px;
  margin-top: 10px;
}
a{
  text-decoration: none !important;
}
nav ul{
  margin-left: -60px;
  margin-top: 0px;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}
nav ul li a:hover{
  color: green;
}
.logocompany{
  color: green;
  font-weight: bold;
  font-size: 25px;
}

.post-user , .form-user{
  width: 95% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  /* margin-left: 300px !important; */
}

.login-form , .signup-form{
  width: 280px;
  margin-left: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
  -webkit-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  -moz-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  box-shadow: 0 0 10px 3px rgb(59, 56, 56); 
}
.post-form{
  width: 320px;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
}
.post-user{
  width: 95%;
  /* margin-left: 20px; */
  margin:10px;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px;
  -webkit-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  -moz-box-shadow: 0 0 10px 3px rgb(59, 56, 56);
  box-shadow: 0 0 10px 3px rgb(59, 56, 56); 
}

.dashboard{
  padding: 20px;
}

@media only screen and (max-width: 800px) {
  .form-user{
    width: 50%;
    margin: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .form-user{
    width: 70%;
    margin: 30px;
  }
}

@media only screen and (min-width: 800px) {
  .form-user{
    width: 25%;
    margin: 30px;
  }
}



/* Dashboard css starts here */

